<%#
# encoding: utf-8
#--
#   Copyright (C) 2012 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<h1><%= @title = "An error occurred" %></h1>
<h2><%= CGI::escapeElement(error.respond_to?(:message) ? error.message : error).gsub(/</, "&lt;") %></h2>
<% if error.respond_to?(:backtrace) && !error.backtrace.nil? %>
  <ul>
    <%= error.backtrace.map { |l| "<li>#{l}</li>" }.join("") %>
  </ul>
<% end %>
<p><a href="<%= tree_url(repository_slug, ref, "") %>">Go back</a></p>
